# dependencies
node_modules
.yarn/*
!.yarn/releases
!.yarn/plugins
.yarnrc.yml
yarn.lock

# testing
#/cypress/reports
#/cypress/failed
#/cypress/screenshots
#/cypress/videos

# misc
# dotenv for locally configuring cypress variables
# Can be overwritten from github actions pipeline
# And command line
.env
